*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
 /* min-height: 100vw; */
 display: flex;
} 
.sidenav{
display: flex;
flex-direction: column;
}
.div-card {
  display: flex;
  /* justify-content: space-around; */
  width: 30vw;
  /* height: 100%; */
  /* border: 1px solid blue; */ 
  border: 1px solid rgb(156,155,155);
  padding: 15px;  
  text-decoration: none; 
  border-radius: 8px; 
  height: 6vw; 
  margin: 1vw 2vw;
}
.box {
  width: 6vw;
  /* height: 12vh; */ 
  height: 6vw;
  background-color: rgb(216, 216, 216);

  border-radius: 4px; 
}
h3 {
  font-size: 1.8vw;
  padding: 0;
  /* margin: 10px; */
  margin: 0;
}
.child-textbox {
  margin-left: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
} 
.text{
  margin-top: 5px; 
  border: none;
  text-decoration: none; 
  font-size: 1.4vw;
}
<<<<<<< HEAD
.link{
  text-decoration: none; 
  color: black;
} 
/* .link:active,.link:visited,.link:hover,.link:focus{
  text-decoration: none;
}  */
=======

.answer{
  width: 515px;
  height:68px;
  padding: 14px 0 14px 16px;
  margin-top: 3px;
}

.list{
  margin-left: 99px;
  margin-right: 102px;
}
>>>>>>> 5ff244d3f2f7f8c53149210d43e863bc0e5e7562
